.examples-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .example-area {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
  }

  .example-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
}
